@model ValueTechNz.Models.Dto.LoginDto
@{
}

<div class="row">
    <div class="col-md-4 mx-auto rounded border p-4">
        <h2 class="text-center mb-3">Login</h2>
        <hr />

        <form method="post">
            <div class="mb-3">
                <label class="col-form-label" asp-for="Email"></label>
                <input class="form-control" asp-for="Email" />
            </div>
            <div class="mb-3">
                <label class="col-form-label" asp-for="Password"></label>
                <input type="password" class="form-control" asp-for="Password" />
            </div>
            <div class="form-check mb-3">
                <input class="form-check-input" type="checkbox" asp-for="rememberMe" />
                <label class="form-check-label" asp-for="rememberMe"></label>
            </div>

            <div class="row mb-3">
                <div class="col d-grid">
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
                <div class="col d-grid">
                    <a class="btn btn-outline-primary" asp-controller="Home" asp-action="Index" role="button">Cancel</a>
                </div>
            </div>
            <div>
                <a class="btn btn-link" asp-controller="Account" asp-action="ForgotPassword">
                    Forgot your password?
                </a>
            </div>
        </form>
    </div>
</div>