@{
    ViewData["Title"] = "Home Page";
    ViewData["HomePage"] = true;
}

<div style="background-color: #08618d">
    <div class="container text-white py-5">
        <div class="row align-items-center">
            <div class="col-md-6 mb-5">
                <h1 class="mb-5 fw-bold display-2">Value Tech NZ</h1>
                <p>Find the cheapest but quality electronic devices from most popular brand here in our store!</p>
            </div>
            <div class="col-md-6 text-center">
                <img src="/img//Gadgets.png" class="img-fluid" style="max-width:80%" height="auto;" />
            </div>
        </div>
    </div>
</div>