@model List<ValueTechNz.Models.Dto.GetProductsDto>

@{
    ViewData["Title"] = "Product List";
}

<partial name="_Notification" />

<h2 class="text-center mb-5">@ViewData["Title"]</h2>

<div class="row mb-5">
    <div class="col">
        <a class="btn btn-primary btn-sm" asp-controller="Products" asp-action="AddProduct">New Product</a>
    </div>
    <div class="col">
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Brand</th>
            <th>Category</th>
            <th>Price</th>
            <th>Image</th>
            <th>DateAdded</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody id="productTableBody">
    </tbody>
</table>


<script src="~/js/products.js"></script>