@using ValueTechNz.Helpers
@model PaginatedList<ValueTechNz.Models.Dto.GetProductsDto>
@{
    ViewData["Title"] = "Products";
    ViewData["PaginationAction"] = "Index";
}

<partial name="_Notification" />

<h2 class="text-center mb-5"></h2>

<div class="">
    <div class="container py-4">
        <h2>Products</h2>

        <div class="row mb-5 g-3">
            @foreach (var product in Model.Items)
            {
                <div class="col-lg-3 col-md-6">
                    <div class="d-flex flex-column justify-content-between rounded border shadow p-3 text-center h-100">
                        <img src="/img/@product.ImageFileName" class="img-fluid" style="max-height: 180px; object-fit:contain;" />
                        <hr />
                        <h5 class="py-2">@product.ProductName</h5>
                        <p>
                            Brand: @product.Brand, Category: @product.CategoryName
                        </p>
                        <h4 class="mb-3">@(product.Price)$</h4>
                        <div class="d-flex justify-content-center">
                            <a class="btn btn-primary btn-sm mb-2" href="#" role="button">Details</a>
                            <button type="button" class="btn btn-warning btn-sm mb-2 ms-2">
                                Add to Cart<i class="bi bi-cart4"></i>
                            </button>
                        </div>

                    </div>
                </div>
            }
        </div>
    </div>
</div>

<partial name="_Pagination" />
